@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: "poppins", sans-serif;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    z-index: -1
}

.container-fluid {
    max-width: 1440;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 1.5rem 0;
}

/* search form */
.d-flex input {
    border-radius: 1.5vh;
}

.wrapper {
    display: grid;
    align-items: center;
    min-height: 90vh;
    min-width: 0;
}

.container .btn-primary {
    border: 1px solid #c72121;
    border-radius: 10vh;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 2rem;
    font-family: sans-serif;
    background: rgb(237, 0, 0);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    width: 10rem;
}

.container .btn-primary:hover {
    background-color: rgb(0, 32, 78);
    color: #fff;
}

.content {

    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 0rem;
    font-family: "ubuntu";
    color: #000000;
}

/* start of nav */
.navbar-custom {
    background-color: #00204e;;
    height: 90px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .offcanvas-title,
.navbar-custom .btn {
    color: #ffffff;
    font-weight: bold;
}

.navbar-custom .nav-link.active {
    color: #c72121;
    font-weight: bold;
}

.navbar-custom .nav-link:hover {
    color: #c72121;
    font-weight: bold;
}

.navbar-custom .btn-primary{
    display: block;
    border: 1px solid #c72121;
    border-radius: 10vh;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 2rem;
    font-family: sans-serif;
    background: rgb(237, 0, 0);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.navbar-custom .btn-primary:hover {
    background-color: rgb(0, 32, 78);
    color: #fff;
}

/* end of nav */
/* start of login */
.left_side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    display: block;
    width: 100%;
    object-fit: cover;
    padding-top: 40%;
    padding-left: 40%;
}

.logo_right img {
    display: block;
    width: 70%;
    object-fit: cover;
    padding-left: 15vh;

}

.content .left_side p:nth-child(1) {
    margin: 0;
    font-size: 1.2rem;
}

.right_side {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 35px #00204e;
    border-radius: 2%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 60%;
    padding: 15rem;
    padding-block: 15vh;
    padding-top: 10vh;
    padding-left: 6.5vh;
    height: 100vh;
    width: 5rem;
    font-family: "ubuntu";
}

.right_side h3 {
    color: #0360A3;
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.login_form {
    padding: 2rem;
}

.form-control {
    width: 50%;
    outline: 0;
    border: 0;
    border-radius: 10vh;
    font-family: sans-serif;
    padding: 0.5rem 0.9rem;
    margin: 0.5rem 0;
    border-left: 4px solid #0360A3;
    font-size: 1rem;
}

.right_side button {
    display: block;
    border: 1px solid #c72121;
    border-radius: 10vh;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 2rem;
    font-family: sans-serif;
    background: rgb(237, 0, 0);
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.right_side button:hover {
    background-color: rgb(0, 32, 78);
    color: #fff;
}

.regforgot {
    border-spacing: 10px;
    color: #0360A3;
    font-weight: bold;
}

.form-wrapper {
    border-radius: 7px;
    font-weight: bold;
}

.errors li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.errors ul {
    padding-left: 0;
    margin-bottom: 0;
}

/* end of login */

/* Mobile */
@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }

    .form-wrapper .btn-primary {
        display: block;
        margin: 0 auto;
    }
}